<html>
<head>
<meta charset="utf-8">
<title>
歡迎來到我的部落格
</title>
</head>
<body>
<h1> 歡迎來到我的部落格 </h1>
<hr>
<h1>{{post.title}} </h1>
<p style='font-family: 微軟正黑體;font-size:12pt;letter-spacing:2pt;'>
{{post.body}}
</p>
<hr>
<h3><a href='/'>回首頁</a></h3>
</body>
</html>